<div ng-if="gameStarted">
    <h2 class="desktop-only">Game</h2>
    <div class="row">
        <div class="col-6 cappy strong">Trumps</div>
        <div class="col-6 cappy"><span style="color: {{gameObject.trumpCard.suit.color}};">{{gameObject.trumpCard.suit.symbol}}</span>&nbsp;{{gameObject.trumpCard.suit.name}}</div>
    </div>
    <div class="row desktop-only">
        <div class="col-6 cappy strong">Cards this round</div>
        <div class="col-6 cappy">{{gameObject.cardsThisRound}}</div>
    </div>
    <div class="row desktop-only">
        <div class="col-6 cappy strong">Phase</div>
        <div class="col-6 cappy">{{gameObject.phase}}</div>
    </div>
    <div class="row">
        <div class="col-6 strong">Turn</div>
        <div class="col-6 cappy" ng-if="players[gameObject.playersTurn].socketId != myPlayer.socketId">{{players[gameObject.playersTurn].name}}</div>
        <div class="col-6  cappy" ng-if="players[gameObject.playersTurn].socketId == myPlayer.socketId">Me</div>
    </div>
    <div class="row desktop-only">
        <div class="col-6 cappy strong">Dealer</div>
        <div class="col-6 cappy">{{gameObject.dealer.name}}</div>
    </div>
    <div class="row mobile-only">
        <div class="col-6 cappy strong">My Tricks</div>
        <div class="col-6 cappy">{{myPlayer.tricks}}</div>
    </div>
    <div class="row mobile-only">
        <div class="col-6 cappy strong">My Call</div>
        <div class="col-6 cappy">{{myPlayer.scores[roundNumber() - 1]}}</div>
    </div>
</div>