<h2>Scores</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th ng-repeat="player in players">
                {{player.name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="i in createLoop(0, players[0].scores.length -1)">
            <td><span ng-if="i == players[0].scores.length -1">This Round</span></td>
            <td ng-repeat="player in players">
                {{player.scores[i]}}
            </td>
        </tr>
        <tr class="totalsRow">
            <td>Total</td>
            <td ng-repeat="player in players">
                {{totalScore(player)}}
            </td>
        </tr>
    </tbody>
</table>